* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    transition: .2 all;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color : #fdfdfd;
    --text-color: #333;
    --main-color: #78ca5b;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}
.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: #rgba(0, 0, 0, .7);
}
*::selection {
    color: var(--text-color);
    background: var(--bg-color);
}
body {
    color: var(--text-color);
    background: var(--bg-color);
}
section {
    min-height: 100vh;
    position: relative;
    padding: 10rem 7% 2rem;
    border: 1px solid var(--main-color);
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    z-index: 100;
    background: transparent;
    transition: .5s;
}
.navbar.sticky {
    background: var(--bg-color);
    box-shadow: 0 0.1rem 1rem var(--shadow-color);
}
.website-logo{
    cursor: default;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: monospace;
    color: var(--text-color);
}
.navbar-container{
    height: 100%;
    width: max-content;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}
.links{
    height: 45px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    font-size: 18px;
    text-decoration: none;
    color: var(--text-color);
    font-family: sans-serif;
    transition: background-color 0.3s;
    border-radius: 10px;
}
.active, .links:hover{
    color: var(--white-color);
    background-color: var(--main-color);
}
    /* Home-Section Styling*/
#home{
    display: flex;
    gap: 150px;
    flex-direction: column;
    justify-content: center;
}
#home .container {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: stretch;
    padding: 3rem;
    border-left: 5px solid var(--main-color);
}
.container h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: monospace;
    color: var(--text-color);
}
p {
    font-size: 19px;
}
.quotes {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-color: var(--main-color);
}
.quotes blockquote{
    font-size: 19px;
    font-family: monospace;
    font-weight: 600;
    color: var(--white-color);
}
    /* Services Styling */
#services {
    padding-top: 5.5rem;
}
#services h1 {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: monospace;
    text-align: center;
}
img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}
h5 {
    font-size: 25px;
    color: var(--white-color);
    font-family: monospace;
    font-weight: 600;
}
#services button {
    color: var(--white-color);
}
    /* Contact Us Styling */
#about {
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: end;
}
#about .container {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: stretch;
    padding: 3rem;
    border-left: 5px solid var(--main-color);
}
#about .footer {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-color: var(--main-color);
}
.footer h1{
    font-size: 30px;
    font-family: monospace;
}